<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder</title>
	<%= stylesheet_link_tag "guchi" %>
</head>
<body>
	<header>
		<h1>StressShredder</h1>
	</header>
	<article>
	<h1>ぐちを吐き出しましょう</h1>
	<p>
	<h2>これから、ぐちをこぼす人として、気持ちを言葉にして発散したい。</h2>
	<h2>そうすれば、気持ちがスッキリするからだ。</h2>
	<label>
	ぐち：<textarea name= "usercomment"></textarea> 
	</label>
	</p>

	<p><input type= "submit"></p>
	</article>
	<footer>
		<small>Copyright &copy; team_cim, all rights reserved.</small>
	</footer>
	
</body>
</html>