<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder</title>
	<link rel= "stylesheet "href="style.css">

</head>
<body>
	<header>
		<h1>StressShredder</h1>
	</header>
<!--- 
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
--->
	<div CLASS= "container"> 
	<div CLASS= "content">
		<article>
			<p>コップが溢れてしまう前に、<br>「ぐち」「じまん」「おいのり」３種類の本音を吐き出してしまおう。<br>自分が抱えている気持ちをあえて言葉にすることで葛藤を見出せる・・・・かも。</p>
			<figure　>
				<%= image_tag 'jizou.png' , :alt => 'お地蔵さんです。' %>
<!---	<img src= "jizou.png"　alt= "お地蔵さんです。"　--->
			</figure>
			<h2>Nouaru-Taka Tsume Kakusu</h2>
		</article>
	</div>
	<div CLASS= "menu">
		<aside>
		<ul>
		<li><font size="11">
		<%= link_to 'ぐち', 'guch.html' %>
		</font>
		</li>
		<br>
<!---		<li><a href= "guch.html"><font size="11">ぐち</font></a></li> --->
		<li><font size="11">
		<%= link_to '自慢', 'jiman.html' %>
		</font></li>
<!---		<li><a href= "guch.html"><font size="11">じまん</font></a></li> --->
				<br>
		<li><font size="11">
		<%= link_to 'お祈り', 'inori.html' %>
		</font></li>
<!---		<li><a href= "guch.html"><font size="11">おいのり</font></a></li> --->
				<br>
		</ul>
		</aside>
	</div>
	</div>

<div CLASS= "footer">
	<small>Copyright &copy; team_cim, all rights reserved.</small>
	<br><br><br>
</div>
</body>
</html>