<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder</title>
	<%= stylesheet_link_tag "list" %>
</head>
<body>
	<header>
		<h1>StressShredder</h1>
	</header>
	<article>
	<h1>ふりかえりましょう</h1>
	<p>
	<h2>アカント名</h2>
	<h2>日付：カテゴリ：コメント</h2>
	</p>
	</article>
	<footer>
		<small>Copyright &copy; team_cim, all rights reserved.</small>
	</footer>
	
</body>
</html>