/*list ページ*/
body	{font-family: 'メイリオ',
		'Hiragino Kaku Gothic Pro',
		sans-serif;
		background-color: #edede3 }
		
input, textarea {display: block}

input		{width: 400px}

input[type= "submit"]	{width: 200px;
				background-color: #ffaa00;
			}

textarea			{width: 600px;
					height: 120px}